/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* utilities */

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


.flex-h-conteiner {
    display: flex;
    width: 720px;
}


.flex-conteiner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 30px 100px;
}

.flex-conteiner-blue {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 30px 100px;
    background-color: blue;
    justify-content: center;
}


.flex-conteiner-grey {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 30px 100px;
    background-color: lightgray;
}



/* header */

header {
    height: 50px;
    background-color: lightblue;
    align-items: center;
    justify-content: center;
    display: flex;

}


.tasti1 {
    background-color: yellow;
    border: 1px dashed black;
    width: 30%;
}

.tasti2 {
    background-color: yellow;
    border: 1px dashed black;
    width: 60%;
}

.tasti3 {
    background-color: yellow;
    border: 1px dashed black;
}

/* corpo centrale */

.box {
    flex-basis: 100%;
    min-height: 400px;
    background-color: rgb(42, 157, 17);
}

.box-centrale {
    flex-basis: 80%;
    min-height: 200px;
    background-color: rgb(157, 17, 26);
}

.box-leftBG {
    flex-basis: 60%;
    min-height: 300px;
    background-color: blue;
}

.box-leftSM {
    flex-basis: 40%;
    min-height: 300px;
    background-color: blue;
}


.box-rightSM {
    flex-basis: 40%;
    min-height: 300px;
    background-color: rgb(21, 174, 49);
}

.box-rightBG {
    flex-basis: 60%;
    min-height: 300px;
    background-color: rgb(21, 174, 49);
}