/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* header */

header {
    height: 50px;
    background-color: lightblue;
    align-items: center;
    justify-content: center;
    display: flex;

}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


.conteiner {
    width: 1200px;
}

.flex-conteiner {
    display: flex;
    width: 700px;
}

.tasti1 {
    background-color: yellow;
    border: 1px dashed black;
    width: 30%;
}

.tasti2 {
    background-color: yellow;
    border: 1px dashed black;
    width: 60%;
}

.tasti3 {
    background-color: yellow;
    border: 1px dashed black;
}